      <!--
        - #ABOUT
      -->

      <article class="about active" data-page="about">

    <header>
      <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
         
            <p>Hi, I am Avi Dewan, an undergraduate final-year Computer Science Engineering student at BUET. I will be graduating at February, 2025. I am very passionate about software development and machine learning.</p>
         
            <p>I have a strong foundation in programming languages like C, C++, JavaScript, and Python, coupled with a solid understanding of database systems. I am proficient in web development, with experience in both frontend and backend technologies. I have honed my problem-solving, analytical, and teamwork skills through various academic projects and competitions like game jams, deep learning competitions, and hackathons.</p>
         
            <p>My interests extend to machine learning, particularly in Computer Vision and Computational Neural Optimization. I have worked with various neural network architectures, including CNNs, GNNs, and Transformers. I am keen on applying my technical skills to real-world problems and contributing to innovative projects.</p>
         
            <p>As a person, I alwasy try to be accountable.  I strive to follow routines, uphold commitments, and live with discipline and integrity. I am keen on applying my technical skills and problem-solving abilities to real-world challenges and contributing to innovative projects.</p>
        
            <p>Apart from all these tech stuffs, I love travelling. As somone who grew up in Chittagong Hill Tracts, hiking and spending time in nature is my absolute favorite thing. I also love reading novels, watching anime and immerse myself into the world of game in my freetime.</p>
        
  </section>
    <div class="modal-container" data-modal-container>

      <div class="overlay" data-overlay></div>

      <section class="testimonials-modal">
        <button class="modal-close-btn" data-modal-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </section>

    </div>
  </article>
