      <!--
        - #ACHIEVEMENTS
      -->
      <article class="achievements" data-page="achievements">

    <header>
      <h2 class="h2 article-title">Achievements</h2>
    </header>

    
        <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="trophy-outline"></ion-icon>
              </div>
              <h3 class="h3">Deep Learning Competitions</h3>
            </div>
            <ol class="timeline-list">
                
                    <li class="timeline-item">
                        <div class="education-header">
                            <h4 class="h4 timeline-item-title">SUST DL Enigma</h4>
                            <span>Sylhet, Bangladesh</span>
                        </div>
                        <div class="education-header">
                            <span>Champion</span>
                            <span>Feb 2024</span>
                        </div>
                        <p class="timeline-text">
                          Our team QWERTY became champion in this road object detection competition. Images of roads across 9 districts are given as a dataset. Our
                          task was to build a robust model to accurately detect various vehicles and people on the
                          road. We achieved mAP score of .66
                        </p>
                    </li>
                
            </ol>
        </section>
    
        <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="trophy-outline"></ion-icon>
              </div>
              <h3 class="h3">Game JAM</h3>
            </div>
            <ol class="timeline-list">
                
                    <li class="timeline-item">
                        <div class="education-header">
                            <h4 class="h4 timeline-item-title">BUET CSE FEST Game Jam 2023</h4>
                            <span>Dhaka, Bangladesh</span>
                        </div>
                        <div class="education-header">
                            <span>Ranked 5th</span>
                            <span>July 2023</span>
                        </div>
                        <p class="timeline-text">
                            
                        </p>
                    </li>
                
                    <li class="timeline-item">
                        <div class="education-header">
                            <h4 class="h4 timeline-item-title">IUT National ICT Fest GameJam 2024</h4>
                            <span>Dhaka, Bangladesh</span>
                        </div>
                        <div class="education-header">
                            <span>Finalist</span>
                            <span>April 2024</span>
                        </div>
                        <p class="timeline-text">
                            
                        </p>
                    </li>
          
                
            </ol>
        </section>
    
        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="trophy-outline"></ion-icon>
            </div>
            <h3 class="h3">Capture The Flag</h3>
          </div>
          <ol class="timeline-list">
              
                  <li class="timeline-item">
                      <div class="education-header">
                          <h4 class="h4 timeline-item-title">Inter University CTF, BUET CSE FEST 2023</h4>
                          <span>Dhaka, Bangladesh</span>
                      </div>
                      <div class="education-header">
                          <span> Ranked 11th among 30 onsite teams  </span>
                          <span>July 2023</span>
                      </div>
                      <p class="timeline-text">
                          Got selected for the final onsite round by raking in top 30 among 153 teams in preliminary round.
                      </p>
                  </li>
  
          </ol>
      </section>
  

   
    

</article>
