      <!--
        - #EDUCATION
      -->
      <article class="education" data-page="education">

    <header>
        <h2 class="h2 article-title">Education</h2>
    </header>

    <section class="timeline">
      <ol class="timeline-list">

        
          <li class="timeline-item">
            <div class="education-header">
              <h4 class="h4 timeline-item-title">Bangladesh University of Engineering and Technology</h4>
              <span>Fev 2020 - Present</span>
            </div>
            <div class="education-header">
              <h5 class="h5 timeline-item-subtitle">B.Sc. in Computer Science and Engineering</h5>
              <span>CGPA: 3.53/4.00</span>
            </div>
          
            
              <div class="multicol-list">
                <div class="blog-text" >Notable Courses</div>
                <ul>
                    <li><p class="timeline-text">CSE 101 - Structured Programming Language</p></li>

                    <li><p class="timeline-text">CSE 107 - Object Oriented Programming</p></li>

                    <li><p class="timeline-text">CSE 203 & 207 - Data Structure and Algorithms</p></li>

                  
                    <li><p class="timeline-text">CSE 305 - Computer Architecture</p></li>
                  
                    <li><p class="timeline-text">CSE 307 - Software Engineering</p></li>
                  
                    <li><p class="timeline-text">CSE 309 - Compiler Design</p></li>
                  
                    <li><p class="timeline-text">CSE 313 - Operating Systems</p></li>
                  
                    <li><p class="timeline-text">CSE 317 - Artificial Intelligence</p></li>
                  
                    <li><p class="timeline-text">CSE 321 - Computer Networks</p></li>
                  
                    <li><p class="timeline-text">CSE 405 - Computer Security</p></li>
                  
                    <li><p class="timeline-text">CSE 409 - Computer Graphics</p></li>
                  
                    <li><p class="timeline-text">CSE 463 - Introduction to Bioinformatics</p></li>
                  
                    <li><p class="timeline-text">CSE 471 - Machine Learning</p></li>
                  
                    <li><p class="timeline-text">MATH 245 - Statistics and Probability</p></li>
                  
                    <li><p class="timeline-text">MATH 247 - Linear Algebra</p></li>
                  
                </ul>
              </div>
            
          </li>
        
          <li class="timeline-item">
            <div class="education-header">
              <h4 class="h4 timeline-item-title">Notre Dame College, Dhaka</h4>
              <span>2019</span>
            </div>
            <div class="education-header">
              <h5 class="h5 timeline-item-subtitle">Higher Secondary Certificate (HSC)</h5>
              <span>GPA: 5.00/5.00</span>
            </div>
            <p class="timeline-text">
              Received board scholarship.
            </p>
            
          </li>
        
          <li class="timeline-item">
            <div class="education-header">
              <h4 class="h4 timeline-item-title">Khagrachari Cantonment Public School &amp; College, Khagrachari</h4>
              <span>2017</span>
            </div>
            <div class="education-header">
              <h5 class="h5 timeline-item-subtitle">Secondary School Certificate (SSC)</h5>
              <span>GPA: 5.00/5.00</span>
            </div>
            <p class="timeline-text">
              Received board scholarship.
            </p>
            
          </li>
        
       
      </ol>

    </section>
  </article>
