    <aside class="sidebar" data-sidebar>
    <div class="sidebar-info">
      <figure class="avatar-box">
        <img src="./assets/images/me/my2.jpeg" alt="Avi Dewan" width="80">
      </figure>

      <div class="info-content">
        <h1 class="name" title=Avi Dewan>Avi Dewan</h1>
        <!-- <p class="title">
          Software Engineer, Chaldal
          <br>
          2023 - Present
        </p> -->
        
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Show Contacts</span>
        <ion-icon name="chevron-down"></ion-icon>
      </button>
    </div>
      <ul class="social-list">
        
            <li class="social-item">
                <a href=https://www.linkedin.com/in/avi-dewan/ class="social-link" target="_blank" rel="noopener noreferrer">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
        

        
            <li class="social-item">
                <a href=https://github.com/Avi-Dewan class="social-link" target="_blank" rel="noopener noreferrer">
                  <ion-icon name="logo-github"></ion-icon>
                </a>
              </li>
        
      </ul>
    </div>

    <div class="separator"></div>
    <div class="sidebar-info_more">
      <ul class="contacts-list">

        
            <li class="contact-item">
                <div class="icon-box">
                  <ion-icon name="mail-outline"></ion-icon>
                </div>
                <div class="contact-info">
                  <p class="contact-title">Email</p>
                  <a href="mailto:avidewan07@gmail.com" class="contact-link">avidewan07@gmail.com</a>
                </div>
              </li>
        
        

        
            <li class="contact-item">
                <div class="icon-box">
                  <ion-icon name="location-outline"></ion-icon>
                </div>
                <div class="contact-info">
                  <p class="contact-title">Location</p>
                  <address>Dhaka, Bangladesh</address>
                </div>
              </li>
        
      </ul>
  </aside>
