      <!--
        - #SKILLS
      -->

      <article class="skills" data-page="skills">

  <header>
    <h2 class="h2 article-title">Skills</h2>
  </header>

  
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Languages
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >C</span> -->
                <img alt=C style="float: left;" src=https://img.shields.io/badge/c-%2300599C.svg?style=for-the-badge&amp;badge=c&amp;badgeColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >C++</span> -->
                <img alt=C++ style="float: left;" src=https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&amp;badge=c%2B%2B&amp;badgeColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Java</span> -->
                <img alt=Java style="float: left;" src=https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&amp;logo=openjdk&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>

          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
            <!-- <span class="tags" style="font-size: 20px; float: left;" >Java</span> -->
            <img alt=Python style="float: left;" src=https://img.shields.io/badge/python-%233776AB.svg?style=for-the-badge&amp;logo=openjdk&amp;logoColor=white />
            <!-- 
              <a style="float: left;" href=https://github.com/ > 📎 </a>  
            
              <a style="float: left;" href=https://github.com/ > 📎 </a>  
             -->
            
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Javascript</span> -->
                <img alt=Javascript style="float: left;" src=https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&amp;logo=javascript&amp;logoColor=%23F7DF1E />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Assembly</span> -->
                <img alt=Assembly style="float: left;" src=https://img.shields.io/badge/assembly%20script-%23000000.svg?style=for-the-badge&amp;logo=assemblyscript&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Bash</span> -->
                <img alt=Bash style="float: left;" src=https://img.shields.io/badge/shell_script-%23121011.svg?style=for-the-badge&amp;logo=gnu-bash&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
    
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Backend
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >NodeJS</span> -->
                <img alt=NodeJS style="float: left;" src=https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&amp;logo=node.js&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>

          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >NodeJS</span> -->
                <img alt=ExpressJS style="float: left;" src=https://img.shields.io/badge/express.js-%23404d59.svg?style=for-the-badge&amp;logo=express&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Spring Boot</span> -->
                <img alt=Next JS Boot style="float: left;" src=https://img.shields.io/badge/Next.js-black?style=for-the-badge&amp;logo=spring&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
    
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Frontend
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >ReactJs</span> -->
                <img alt=ReactJs style="float: left;" src=https://img.shields.io/badge/react-%2320232a.svg?style=for-the-badge&amp;logo=react&amp;logoColor=%2361DAFB />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >EJS</span> -->
                <img alt=SvelteJS style="float: left;" src=https://img.shields.io/badge/svelte-%23FF3E00.svg?style=for-the-badge&amp;logo=node.js&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>

          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Spring Boot</span> -->
                <img alt=Next JS Boot style="float: left;" src=https://img.shields.io/badge/Next.js-black?style=for-the-badge&amp;logo=spring&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                -->
                
          </div>
        

          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >EJS</span> -->
                <img alt=p5 JS style="float: left;" src=https://img.shields.io/badge/p5.js-%23ED225D.svg?style=for-the-badge&amp;logo=node.js&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                -->
                
          </div>
          
        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
    
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Data Systems
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >PostgreSQL</span> -->
                <img alt=PostgreSQL style="float: left;" src=https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&amp;logo=postgresql&amp;logoColor=white />
                <!-- 
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                
                  <a style="float: left;" href=https://github.com/ > 📎 </a>  
                 -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Hadoop</span> -->
                <img alt=MySQL style="float: left;" src=https://img.shields.io/badge/mysql-%2300f.svg?style=for-the-badge&amp;logo=apachehadoop&amp;logoColor=black />
                <!--  -->
                
          </div>
          
        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
    
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Tools
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Git</span> -->
                <img alt=Git style="float: left;" src=https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&amp;logo=git&amp;logoColor=white />
                <!--  -->
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                <!-- <span class="tags" style="font-size: 20px; float: left;" >Docker</span> -->
                <img alt=Docker style="float: left;" src=https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&amp;logo=docker&amp;logoColor=white />
                <!--  -->
                
          </div>
          
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>

  <!--
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Testing
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
               
                <img alt=JUnit5 style="float: left;" src=https://img.shields.io/badge/junit5-%2325A162.svg?style=for-the-badge&amp;logo=junit5&amp;logoColor=white />
                
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                
                <img alt=Testcontainer style="float: left;" src=https://img.shields.io/badge/TestContainer-%230db7ed.svg?style=for-the-badge&amp;logo=docker&amp;logoColor=white />
              
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
              
                <img alt=Graphana K6 style="float: left;" src=https://img.shields.io/badge/K6-%237D64FF.svg?style=for-the-badge&amp;logo=microsoftazure&amp;logoColor=white />
            
                
          </div>

        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
  -->  

  <!--
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          DevOps
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
               
                <img alt=Terraform style="float: left;" src=https://img.shields.io/badge/terraform-%235835CC.svg?style=for-the-badge&amp;logo=terraform&amp;logoColor=white />
               
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
            
                <img alt=Helm style="float: left;" src=https://img.shields.io/badge/helm-%230e1689.svg?style=for-the-badge&amp;logo=helm&amp;logoColor=white />
              
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
              
                <img alt=Github Workflow style="float: left;" src=https://img.shields.io/badge/github%20workflow-%232671E5.svg?style=for-the-badge&amp;logo=githubactions&amp;logoColor=white />
               
                
          </div>
          
        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
    
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <h3 class="h3">
          Clouds
        </h3>
      </div>

      <div >
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
               
                <img alt=Azure Cloud Service style="float: left;" src=https://img.shields.io/badge/azure%20cloud-%230072C6.svg?style=for-the-badge&amp;logo=microsoftazure&amp;logoColor=white />
               
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                
                <img alt=Azure Kubernetes Service style="float: left;" src=https://img.shields.io/badge/azure%20kubernetes-%230072C6.svg?style=for-the-badge&amp;logo=microsoftazure&amp;logoColor=white />
               
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
                
                <img alt=Azure Cloud Storage style="float: left;" src=https://img.shields.io/badge/azure%20storage-%230072C6.svg?style=for-the-badge&amp;logo=microsoftazure&amp;logoColor=white />
          
                
          </div>
          
        
          <div  style="float: left; margin-right: 8px; margin-bottom: 8px;">
            
                <img alt=Azure Container Registry style="float: left;" src=https://img.shields.io/badge/azure%20container%20registry-%230072C6.svg?style=for-the-badge&amp;logo=microsoftazure&amp;logoColor=white />
                
          </div>
          
        
      </div>
    </section>
    <br/>
    <br/>
    <div>  </div>
    <hr>
    <br/>
-->
    
</article>
